@import "./variables";
@import "bulma";

.label {
  &:not(:last-child) {
    margin-bottom: 0.25em
  }
}

pre {
  background: $surface;
  color: $text;
}

.button.is-success, .button.is-info {
  color: $body-background-color;

  &:hover {
    color: $body-background-color;
  }
}

.container {
  width: $container-width;
  margin: 0 auto;
}

a:hover {
  color: lighten($link, 10%);
}
